:root {
    /* PRIMARY COLOR (RED) */
    --darken-primary-color: #6E1313;
    --semi-darken-primary-color: #B21919;
    --primary-color: #DA3636;
    --semi-lighten-primary-color: #FF8C8C;
    --almost-lighten-primary-color: #FFB4B4;
    --lighten-primary-color: #FFD1D1;

    /* SECONDARY COLOR (BLUE) */
    --darken-secondary-color: #034D81;
    --semi-darken-secondary-color: #038AEB;
    --secondary-color: #166CAD;
    --semi-lighten-secondary-color: #55B2FF;
    --lighten-secondary-color: #E0F1FF;

    /* THIRD COLOR (YELLOW) */
    --darken-third-color: #FCD703;
    --semi-darken-third-color: #FFE23B;
    --third-color: #FBFF8F;
    --semi-lighten-third-color: #F9FFAB;
    --lighten-fourth-color: #FFF5B6;
    
    /* FOURTH COLOR (BROWNISH) */
    --semi-darken-fourth-color: #FFB575;
    --fourth-color: #FFF2DC;
    
    /* FIFTH COLOR (BLUE-PURPLE) */
    --fifth-color: #3C67BE;
    --semi-lighten-fifth-color: #9AADD8;

    /* NEUTRAL COLOR */
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gray-color: #5E5E5E;
    --shadow-color: #00000038;

    --common-anim-dur: 200ms;

    /* COMMON PIXEL SIZE VARIABLE */
    --big-ps: calc(100vw / 80);
    --small-ps: calc(100vw / 200);
    --common-shadow-left: 0.25rem;
    --common-shadow-top: 0.25rem;
    --common-border-width: 0.25rem;
    --common-box-shadow: var(--common-shadow-left) var(--common-shadow-top) var(--shadow-color);
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16ps;
}

body {
    --header-height: 7rem;
    background-color: var(--white-color);
    font-family: "Handjet";
    color: var(--black-color);
}

/*
    Elements Base Styles
*/

* {
    margin: 0;
    padding: 0;
}

button {
    font-family: "Handjet";
    &:not(:disabled) {
        cursor: pointer;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

section.hrpl-logo {
    display: flex;
    align-items: center;
    width: 10rem;
    color: var(--semi-darken-primary-color);

    & h4 {
        font-size: 1.5rem;
        font-weight: 800;
    }

    & > img {
        width: 3.7rem;
    }
}

.silkscreen-font-adjusted {
    position: relative;
    top: -0.15rem;
    font-family: "Silkscreen";
    letter-spacing: -0.1rem;
}

.custom-geometry {
    position: relative;

    &:not(.bordered):not(.h-flipped).shadowed::before {
        content: "";
        position: absolute;
        inset:
            calc(var(--shadow-top))
            calc(var(--shadow-left) * -1)
            calc(var(--shadow-top) * -1)
            calc(var(--shadow-left));
        clip-path: var(--border-geometry);
        background-color: var(--shadow-color);
        z-index: calc(-2 + var(--base-z-index, 0));
    }
    
    &:not(.bordered).shadowed.h-flipped::before {
        content: "";
        position: absolute;
        inset:
            calc(var(--shadow-top))
            calc(var(--shadow-left))
            calc(var(--shadow-top) * -1)
            calc(var(--shadow-left) * -1);
        clip-path: var(--border-geometry);
        background-color: var(--shadow-color);
        z-index: calc(-2 + var(--base-z-index, 0));
    }
    
    &:not(.h-flipped).shadowed.bordered::before {
        content: "";
        position: absolute;
        inset:
            calc(var(--shadow-top) - var(--border-width))
            calc(var(--shadow-left) * -1 - var(--border-width))
            calc(var(--shadow-top) * -1 - var(--border-width))
            calc(var(--shadow-left) - var(--border-width));
        clip-path: var(--border-geometry);
        background-color: var(--shadow-color);
        z-index: calc(-2 + var(--base-z-index, 0));
    }

    &.shadowed.bordered.h-flipped::before {
        content: "";
        position: absolute;
        inset:
            calc(var(--shadow-top) - var(--border-width))
            calc(var(--shadow-left) - var(--border-width))
            calc(var(--shadow-top) * -1 - var(--border-width))
            calc(var(--shadow-left) * -1 - var(--border-width));
        clip-path: var(--border-geometry);
        background-color: var(--shadow-color);
        z-index: calc(-2 + var(--base-z-index, 0));
    }
    
    &.bordered::after {
        content: "";
        position: absolute;
        inset: calc(var(--border-width) * -1);
        clip-path: var(--border-geometry);
        background-color: var(--border-color, var(--white-color));
        z-index: calc(-1 + var(--base-z-index, 0));
    }

    &.h-flipped {
        transform: scaleX(-1);
    }

    & > div.content {
        isolation: isolate;
        clip-path: var(--content-geometry);
    }
}

span.pixelated-arrow {
    --border-geometry: polygon(
        0 0,
        calc(var(--ps) * 3) 0,
        calc(var(--ps) * 3) var(--ps),
        calc(var(--ps) * 4) var(--ps),
        calc(var(--ps) * 4) calc(var(--ps) * 2),
        calc(var(--ps) * 5) calc(var(--ps) * 2),
        calc(var(--ps) * 5) calc(var(--ps) * 3),
        calc(var(--ps) * 6) calc(var(--ps) * 3),
        calc(var(--ps) * 6) calc(100% - var(--ps) * 3),
        calc(var(--ps) * 5) calc(100% - var(--ps) * 3),
        calc(var(--ps) * 5) calc(100% - var(--ps) * 2),
        calc(var(--ps) * 4) calc(100% - var(--ps) * 2),
        calc(var(--ps) * 4) calc(100% - var(--ps)),
        calc(var(--ps) * 3) calc(100% - var(--ps)),
        calc(var(--ps) * 3) 100%,
        0 100%
    );
    --content-geometry: polygon(
        0 0,
        var(--ps) 0,
        var(--ps) var(--ps),
        calc(var(--ps) * 2) var(--ps),
        calc(var(--ps) * 2) calc(var(--ps) * 2),
        calc(var(--ps) * 3) calc(var(--ps) * 2),
        calc(var(--ps) * 3) calc(var(--ps) * 3),
        calc(var(--ps) * 4) calc(var(--ps) * 3),
        calc(var(--ps) * 4) calc(100% - var(--ps) * 3),
        calc(var(--ps) * 3) calc(100% - var(--ps) * 3),
        calc(var(--ps) * 3) calc(100% - var(--ps) * 2),
        calc(var(--ps) * 2) calc(100% - var(--ps) * 2),
        calc(var(--ps) * 2) calc(100% - var(--ps)),
        var(--ps) calc(100% - var(--ps)),
        var(--ps) 100%,
        0 100%
    );

    position: relative;
    width: calc(var(--ps) * 4);
    height: calc(var(--ps) * 7);

    &::before {
        content: "";
        position: absolute;
        inset: calc(var(--ps) * -1);
        background-color: var(--border-color);
        clip-path: var(--border-geometry);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--background-color);
        clip-path: var(--content-geometry);
    }
}

button.custom-button {
    position: relative;
    background-color: transparent;
    border: none;
}

div.rotated-background {
    position: relative;
    isolation: isolate;

    &.shadowed {
        &::before {
            content: "";
            position: absolute;
            inset: var(--shadow-top) calc(var(--shadow-left) * -1) calc(var(--shadow-top) * -1) var(--shadow-left);
            transform: rotate(var(--rotation-deg));
            background-color: var(--shadow-color);
            z-index: -2;
        }
    }
    
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        transform: rotate(var(--rotation-deg));
        background-color: var(--background-color);
        z-index: -1;
    }
}

/*
    Styles
*/

nav#big-nav-bar {
    --ps: var(--big-ps);
    --shadow-left: var(--common-shadow-left);
    --shadow-top: var(--common-shadow-top);
    --border-width: var(--common-border-width);
    --doubled-border-width: calc(var(--common-border-width) * 2);

    --content-geometry: polygon(
        calc(var(--ps) * 2) var(--ps),
        
        calc(var(--ps) * 3) var(--ps),
        calc(var(--ps) * 3) 0,
        calc(var(--ps) * 4) 0,
        calc(var(--ps) * 4) var(--ps),

        calc(100% - var(--ps) * 5) var(--ps),
        calc(100% - var(--ps) * 5) 0,
        calc(100% - var(--ps) * 4) 0,
        calc(100% - var(--ps) * 4) var(--ps),

        calc(100% - var(--ps) * 2) var(--ps),

        calc(100% - var(--ps) * 2) calc(100% - var(--ps) * 2),

        100% calc(100% - var(--ps) * 2),
        100% calc(100% - var(--ps) * 3),
        calc(100% - var(--ps)) calc(100% - var(--ps) * 3),

        calc(100% - var(--ps)) calc(100% - var(--ps)),
        calc(100% - var(--ps) * 2) calc(100% - var(--ps)),

        calc(100% - var(--ps) * 2) 100%,
        calc(100% - var(--ps) * 3) 100%,
        calc(100% - var(--ps) * 3) calc(100% - var(--ps)),

        calc(var(--ps) * 5) calc(100% - var(--ps)),
        calc(var(--ps) * 5) 100%,
        calc(var(--ps) * 4) 100%,
        calc(var(--ps) * 4) calc(100% - var(--ps)),

        0 calc(100% - var(--ps)),
        0 calc(100% - var(--ps) * 2),
        var(--ps) calc(100% - var(--ps) * 2),

        var(--ps) 100%,
        calc(var(--ps) * 2) 100%
    );

    --border-geometry: polygon(
        calc(var(--ps) * 2) var(--ps),
        
        calc(var(--ps) * 3) var(--ps),
        calc(var(--ps) * 3) 0,
        calc(var(--ps) * 4 + var(--doubled-border-width)) 0,
        calc(var(--ps) * 4 + var(--doubled-border-width)) var(--ps),

        calc(100% - var(--ps) * 5 - var(--doubled-border-width)) var(--ps),
        calc(100% - var(--ps) * 5 - var(--doubled-border-width)) 0,
        calc(100% - var(--ps) * 4) 0,
        calc(100% - var(--ps) * 4) var(--ps),

        calc(100% - var(--ps) * 2) var(--ps),

        calc(100% - var(--ps) * 2) calc(100% - var(--ps) * 2 - var(--doubled-border-width)),

        calc(100% - var(--ps) - var(--doubled-border-width)) calc(100% - var(--ps) * 2 - var(--doubled-border-width)),
        calc(100% - var(--ps) - var(--doubled-border-width)) calc(100% - var(--ps) * 3 - var(--doubled-border-width)),
        100% calc(100% - var(--ps) * 3 - var(--doubled-border-width)),
        100% calc(100% - var(--ps) * 2),

        calc(100% - var(--ps)) calc(100% - var(--ps) * 2),
        calc(100% - var(--ps)) calc(100% - var(--ps)),

        calc(100% - var(--ps) * 2) calc(100% - var(--ps)),

        calc(100% - var(--ps) * 2) 100%,
        calc(100% - var(--ps) * 3 - var(--doubled-border-width)) 100%,
        calc(100% - var(--ps) * 3 - var(--doubled-border-width)) calc(100% - var(--ps)),

        calc(var(--ps) * 5 + var(--doubled-border-width)) calc(100% - var(--ps)),
        calc(var(--ps) * 5 + var(--doubled-border-width)) 100%,
        calc(var(--ps) * 4) 100%,
        calc(var(--ps) * 4) calc(100% - var(--ps)),
        
        calc(var(--ps) * 2 + var(--doubled-border-width)) calc(100% - var(--ps)),

        calc(var(--ps) * 2 + var(--doubled-border-width)) 100%,
        var(--ps) 100%,

        var(--ps) calc(100% - var(--ps)),
        0 calc(100% - var(--ps)),
        0 calc(100% - var(--ps) * 2 - var(--doubled-border-width)),
        calc(var(--ps) + var(--doubled-border-width)) calc(100% - var(--ps) * 2 - var(--doubled-border-width)),

        calc(var(--ps) + var(--doubled-border-width)) calc(100% - var(--ps) - var(--doubled-border-width)),
        calc(var(--ps) * 2) calc(100% - var(--ps) - var(--doubled-border-width))
    );

    flex: 1;

    & > div {
        padding: calc(0.2rem + var(--ps)) calc(2rem + var(--ps) * 2);
        display: flex;
        justify-content: space-between;
        background-color: var(--semi-lighten-secondary-color);

        & > button {
            background-color: transparent;
            font-size: 1.75rem;
            font-weight: 600;
            color: var(--white-color);
            border: none;

            &:disabled {
                text-decoration: underline;
            }
        }
    }
}

header {
    padding: 0 2rem;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: calc(100% - 4rem);
    height: var(--header-height);
    background-color: color-mix(in srgb, var(--white-color) 75%, transparent);
    z-index: 1;

    & > section:last-of-type {
        display: flex;
        width: 10rem;
        justify-content: center;

        & > button {
            padding: 0 0.5rem;
            background-color: var(--primary-color);
            font-size: 2rem;
            font-weight: 600;
            color: var(--third-color);
            border: none;
            box-shadow: var(--common-box-shadow);
        }
    }
}

main {
    --ontop-footer-padding: var(--big-ps);

    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: fit-content;
}

footer {
    --geometry: polygon(
        0 0,
        100% var(--ontop-footer-padding),
        100% 100%,
        0 100%
    );

    grid-column: 1;
    padding: calc(var(--ontop-footer-padding) + 2rem) 4rem 2rem 4rem;
    display: flex;
    background-color: var(--white-color);
    clip-path: var(--geometry);
    
    & > section {
        display: flex;
        color: var(--gray-color);

        &:first-of-type {
            width: 70%;
            flex-direction: column;
        }

        &:last-of-type {
            flex: 1;
            display: flex;
            column-gap: 1rem;

            & > button {
                padding: 0.5rem;
                font-size: 1rem;
                color: var(--gray-color);
                height: 2rem;
            }
        }
    }
}

footer section.hrpl-logo {
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    margin-bottom: 3rem;
    transform: scale(1.5);
}

section#social-media-button-container {
    margin-top: 1.5rem;
    display: flex;
    column-gap: 1rem;

    & > button {
        background-color: var(--gray-color);
        width: 1.5rem;
        height: 1.5rem;

        &:first-of-type {
            clip-path: url("#instagram-icon-clip-path");
        }
        &:nth-of-type(2) {
            clip-path: url("#tiktok-icon-clip-path");
        }
        &:nth-of-type(3) {
            clip-path: url("#youtube-icon-clip-path");
        }
        &:nth-of-type(4) {
            clip-path: url("#discord-icon-clip-path");
        }
        &:last-of-type {
            clip-path: url("#linktree-icon-clip-path");
        }
    }
}